/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/public/assets/libs/
/public/static/*
static/media/*
static/css/*
static/js/*
/public/assets/addons/*
/public/uploads/*
.well-known/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
